@import "./variables";

#contact {
    min-height: 85vh;
    background: rgba(248, 248, 248, 0.2);
    border-radius: 35px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;

    .triangle {
        position: absolute;
        left: 0;
        right: 0;
    }

    .component-header {
        margin-top: 75px;
    }

    .wrapper {
        margin-bottom: 10px;

        h3 {
            font-size: 1.3rem;
            margin: 0;
        }

        .form {
            width: 100%;
            display: grid;
            place-items: center;
            border-radius: 4px;
            padding-top: 20px;
            padding-bottom: 20px;

            input,
            textarea {
                opacity: 0.9;
                background: $light;
                border: none;
                outline: none;
                padding: 8px 12px;
                margin: 4px;
                width: 100%;
            }

            input,
            textarea,
            .submit {
                border-radius: 4px;
                color: $text-dark;
            }

            textarea {
                resize: none;
            }

            .submit {
                background: $secondary-light;
                padding: 6px 12px;
                margin-top: 4px;
                transition: all .2s;
                width: 100%;
                font-weight: 600;

                &:hover {
                    background: $secondary;
                }
            }

            .text-err {
                color: rgb(105, 1, 1);
            }
        }
    }
}

@media (min-width: 576px) {
    #contact {
        .wrapper {
            h3 {
                font-size: 1.5rem;
            }
        }
    }
}

@media (min-width: 600px) {
    #contact {
        min-height: 93vh;
    }
}

@media (min-width: 992px) {
    #contact {
        .wrapper {
            h3 {
                font-size: 1.5rem;
            }
        }
    }
}

@media (min-width: 1200px) {
    #contact {
        .wrapper {
            h3 {
                font-size: 1.75rem;
            }

            .form {

                input,
                textarea {
                    width: 80%;
                }

                .submit {
                    width: 80%;
                }
            }
        }
    }
}