@import "./variables";

#contact {
    min-height: 85vh;
    background: rgba(248, 248, 248, 0.2);
    border-radius: 35px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .wrapper {
        margin-bottom: 10px;

        h2 {
            font-size: x-large;
        } 

        .form {
            width: 100%;
            display: grid;
            place-items: center;
            // background-color: #e2e2e2;
            border-radius: 15px;
            padding-top: 20px;
            padding-bottom: 20px;

            input,
            textarea {
                opacity: 0.9;
                background: $light;
                border: 2px solid $text-light;
                outline: none;
                padding: 7px;
                margin: 2px;
                width: 80%;
            }
            input {
                border-radius: 15px;
            }
            textarea {
                border-radius: 30px;
                border-radius: 13px;
            }
            .submit {
                background: $secondary-light;
                padding: 0.2vh 0;
                margin-top: 0;
                width: 20vw;
                transition: all 0.3s;
                width: 80%;
                border-radius: 10px;

                &:hover {
                    background: $secondary;
                }
            }
        }
    }
}

@media (min-width: 576px) {
    #contact {
        .wrapper {
            h2 {
                font-size: 5vw;
            }
        }
    }
}

@media (min-width: 600px) {
    #contact {
        min-height: 93vh;
    }
}        

@media (min-width: 768px) {
    
}

@media (min-width: 992px) {
    #contact {
        .wrapper {
            h2 {
                font-size: 4vw;
            }
        }
    }
}

@media (min-width: 1200px) {
}
