@import './variables';

#footer {
    background: $text-light;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .icon {
        font-size: 3vw;
        margin: 1vw;
    }

    .github {
        transition:  all .3s;

        &:hover {
            color: $github-color;
        }
    }

    .linkedin {
        transition: all .3s;

        &:hover {
            color: $linkedin-color;
        }
    }

    .download {
        transition:  all .3s;

        &:hover {
            color: $secondary-dark;
        }
    }
}
