@import "./variables";

#footer {
    background: $text-light;
    justify-content: center;
    align-items: center;

    .wrapper {
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;

        .c {
            font-size: 12px;
        }

        .icons-wrapper {
            z-index: 11;
            margin-bottom: 15px;

            .icon {
                font-size: 30px;
                margin: 10px 5px;
                transition: all .2s;
            }

            .codepen {
                &:hover {
                    color: $light;
                }
            }

            .github {
                &:hover {
                    color: $github-color;
                }
            }

            .linkedin {
                &:hover {
                    color: $linkedin-color;
                }
            }

            .download {
                &:hover {
                    color: $primary;
                }
            }
        }
    }
}

@media (min-width: 400px) {
    .wrapper {
        justify-content: space-around !important;
        flex-direction: unset !important;

        .c {
            font-size: 1rem !important;
        }

        .icons-wrapper {
            margin: 0 !important;

            .icon {
                margin: 10px !important;
            }
        }
    }
}