@import "./variables";

body {
  color: $text;
  font-family: 'Varela Round';
  text-align: unset;

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
    margin: 0;
  }

  button,
  button:hover,
  a,
  a:hover {
    color: $text;
    outline: none !important;
  }

  button:hover,
  a:hover {
    text-decoration: none;
  }

  button {
    border: none;
    background: none;
    padding: 0;
  }

  .perfect-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .name {
    color: $primary;
  }

  .component-header {
    font-size: 12vw;
    padding: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 576px) {
  body {
    .component-header {
      font-size: 10vw;
      padding: 8vw;
    }
  }
}

@media (min-width: 768px) {
  body {
    .component-header {
      font-size: 8vw;
      padding: 6vw;
    }
  }
}

@media (min-width: 992px) {
  body {
    .component-header {
      font-size: 6vw;
      padding: 4vw;
    }
  }
}

@media (min-width: 1200px) {
  body {
    .component-header {
      font-size: 5rem;
      padding: 6rem 0 5rem;
    }
  }
}