@import "./variables";

#home {
    display: grid;
    place-items: center;
    background-color: $home-background;
    background-image: url("../media/home_background_mobile.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .header-wrapper {
        flex-direction: column;
        margin-top: 1.5vw;

        .header {
            font-size: 4.2vw;
            margin: 0.5vh;
        }

        .about {
            font-size: 3.5vw;
            margin: 0.5vh;
        }

        .about-spacer {
            height: 3.5vw;
            display: flex;
        }

        .cursor {
            display: inline-block;
            position: relative;
            margin: 0 0.5vh;

            &::after {
                content: "";
                margin: auto;
                position: absolute;
                top: 3px;
                width: 1.5px;
                height: 80%;
                background-color: #666;
                animation: cursor-animation 1.5s step-end infinite;
            }

            &.en {
                &::after {
                    right: -4px;
                }
            }

            &.he {
                &::after {
                    left: -4px;
                }
            }
        }
    }

    @keyframes cursor-animation {
        0% {
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }

    @media (min-width: 768px) {
        .header-wrapper {
            margin-top: 1.8vw;

            .cursor {
                &::after {
                    top: 4px;
                }
            }
        }
    }

    @media (min-width: 635px) and (max-height: 700px) {
        background-image: url("../media/home_background.jpg");
        .header-wrapper {
            margin-top: 1.8vw;

            .header {
                font-size: 4.5vh;
            }

            .about {
                font-size: 3.8vh;
            }

            .about-spacer {
                height: 3.8vh;
            }

            .cursor {
                &::after {
                    top: 5px;
                }
            }
        }
    }

    @media only screen and (min-width: 992px) {
        background-image: url("../media/home_background.jpg");

        .header-wrapper {
            margin-top: 1.8vw;

            .header {
                font-size: 4.5vh;
            }

            .about {
                font-size: 3.8vh;
            }

            .about-spacer {
                height: 3.8vh;
            }

            .cursor {
                &::after {
                    top: 5px;
                }
            }
        }
    }

    @media only screen and (min-width: 1300px) {
        .header-wrapper {
            .header {
                font-size: 45px;
            }

            .about {
                font-size: 35px;
            }

            .about-spacer {
                height: 35px;
            }
        }
    }
}
