@import "./variables";

#projects {
    // background-color: #e2e2e2;
    // background-image: url(https://www.transparenttextures.com/patterns/rocky-wall.png);

    .website {
        width: 400px;
        height: 250px;
        margin: 40px auto;
        padding: 0;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-radius: 10px;
        box-shadow: $shadow-card-dark;

        .hover-website {
            background-color: $opacity-background;
            padding: 10px;
            transition: all ease-in-out 0.3s;
            border-radius: inherit;
            width: 100%;
            height: 100%;
            box-sizing: border-box;

            &.show {
                opacity: 1;
            }

            &.hidden {
                opacity: 0;
            }

            .tech-pills {
                border: $text solid 1px;
                background-color: $text-light;
                border-radius: 10px;
                margin: 5px;
            }

            .link-button {
                border: $text solid 1px;
                background-color: $opacity-dark;
                border-radius: 5px;
                margin: 20px 5px 10px;
                padding: 5px 10px;
                color: $light;
            }
        }
    }

    @media (min-width: 576px) {
        .website {
            width: 550px;
            height: 300px;
            margin: 55px auto;

            .link-button {
                margin: 20px 5px 10px;
            }
        }
    }

    @media (min-width: 768px) {
        
    }

    @media (min-width: 992px) {
        .website {
            width: 700px;
            height: 400px;
            margin: 70px auto;

            .link-button {
                margin: 20px 5px 10px;
            }
        }
    }

    @media (min-width: 1200px) {
        .website {
            width: 850px;
            height: 500px;
            margin: 85px auto;

            .link-button {
                margin: 20px 5px 10px;
            }
        }
    }
}
