#side-nav {
    position: fixed;
    top: 40vh;
    left: 10px;

    // position: fixed;
    // top: 0;
    // left: 0;
    // bottom: 0;
    // background: #000000;


    ul {
        // padding: 20px;
        // margin-left: 20px;
        // background: #72727299;
        // border-radius: 15px;

        li {
            font-size: 3vh;
            transition: all 0.3s;
        }

        .link-li:hover {
            font-size: 3.5vh;
        }

        .leng-li {
            margin-top: 3vh;
        }
    }
}
