#side-nav {
    position: absolute;
    top: 40vh;
    left: 10px;

    li {
        font-size: 3vh;
        transition: all 0.3s;
    }

    .link-li:hover {
        font-size: 3.5vh;
    }
    
    .leng-li {
        margin-top: 3vh;
    }
}
