/* /////////////////////////    colors    /////////////////////////// */
$text: #333;
$text_light: #9f9f9f;
$text_dark: #000000;
$text_hover: #505050;
$link: #3377CC;
$link_light: #3b87e4;
$link_dark: #1f4574;
$link_hover: #24538f;
$primary: #910667;
$primary_light: #bd0a87;
$primary_dark: #790556;
$primary_hover: #790556;
$secondary: #00d99d;
$secondary_light: #00ffb7;
$secondary_dark: #01be89;
$secondary_hover: #01be89;
$light: #f7f5f5;

$transition: 'all .2s ease-in-out';

/* /////////////////////////    card    /////////////////////////// */
$shadow-card: 0 2px 15px -2px #a8a8a8;
$shadow-card-hover: 0 2px 15px 2px #a8a8a8;
$border-radius: .25rem;
$position-inside-card: 16px;
$padding-status: 2px 5px;
$fill-heart-hover: rgba(225, 0, 0, 0.5);

/* /////////////////////////    buttons    /////////////////////////// */
.button-style {
    padding: .375rem .75rem;
    color: $text;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid $text_light;
    border-radius: .25rem;
    margin: 2.5px 5px;
    position: relative;
    outline: none !important;
    transition: background-color .3s;
    &:hover {
      background-color: $light;
    }
  }