/* /////////////////////////    colors    /////////////////////////// */
$text: #333;
$text-light: #9f9f9f;
$text-dark: #000000;
$text-hover: #505050;
$link: #3377CC;
$link-light: #3b87e4;
$link-dark: #1f4574;
$link-hover: #24538f;
$primary: #910667;
$primary-light: #fc11b5;
$primary-dark: #440330;
$primary-hover: #790556;
$secondary: #00d99d;
$secondary-light: #00ffbf;
$secondary-dark: #027e5b;
$secondary-hover: #02a174;
$light: #f7f5f5;
$home-background: #f8f8f8;

$github-color: #24292e;
$dribbble-color: #ea4c89;
$linkedin-color: #0a66c2;

/* /////////////////////////    card    /////////////////////////// */
$shadow-card: 0 2px 15px -2px #a8a8a8;
$shadow-card-hover: 0 2px 15px 2px #a8a8a8;
$border-radius: .25rem;
$position-inside-card: 16px;
$padding-status: 2px 5px;
$fill-heart-hover: rgba(225, 0, 0, 0.5);
