/* /////////////////////////    colors    /////////////////////////// */
/* /////////////////////////    card    /////////////////////////// */
/* /////////////////////////    buttons    /////////////////////////// */
.button-style {
  padding: .375rem .75rem;
  color: #333;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #9f9f9f;
  border-radius: .25rem;
  margin: 2.5px 5px;
  position: relative;
  outline: none !important;
  -webkit-transition: background-color .3s;
  -o-transition: background-color .3s;
  transition: background-color .3s; }
  .button-style:hover {
    background-color: #f7f5f5; }

body {
  color: #333;
  width: 100%;
  font-family: 'Cairo', sans-serif; }
  body li {
    list-style: none; }
  body button,
  body button:hover,
  body a,
  body a:hover {
    color: #333;
    outline: none !important; }
  body button:hover,
  body a:hover {
    text-decoration: none; }
  body button {
    border: none;
    background: none;
    padding: 0; }
  body .perfect-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

/* /////////////////////////    colors    /////////////////////////// */
/* /////////////////////////    card    /////////////////////////// */
/* /////////////////////////    buttons    /////////////////////////// */
.button-style {
  padding: .375rem .75rem;
  color: #333;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #9f9f9f;
  border-radius: .25rem;
  margin: 2.5px 5px;
  position: relative;
  outline: none !important;
  -webkit-transition: background-color .3s;
  -o-transition: background-color .3s;
  transition: background-color .3s; }
  .button-style:hover {
    background-color: #f7f5f5; }

/* /////////////////////////    colors    /////////////////////////// */
/* /////////////////////////    card    /////////////////////////// */
/* /////////////////////////    buttons    /////////////////////////// */
.button-style {
  padding: .375rem .75rem;
  color: #333;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #9f9f9f;
  border-radius: .25rem;
  margin: 2.5px 5px;
  position: relative;
  outline: none !important;
  -webkit-transition: background-color .3s;
  -o-transition: background-color .3s;
  transition: background-color .3s; }
  .button-style:hover {
    background-color: #f7f5f5; }

#home {
  display: -ms-grid;
  display: grid;
  place-items: center;
  background-color: #f8f8f8;
  background-image: url("../media/background11.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  #home .header-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    #home .header-wrapper .name {
      color: #910667; }
  #home .logo {
    font-family: "Major Mono Display", monospace;
    font-size: 4vw;
    padding: 1vw;
    position: absolute;
    top: 10px;
    left: 10px; }

#side-nav {
  position: fixed;
  top: 40vh;
  left: 10px; }
  #side-nav ul li {
    font-size: 3vh;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
  #side-nav ul .link-li:hover {
    font-size: 3.5vh; }
  #side-nav ul .leng-li {
    margin-top: 3vh; }

#about {
  background: #f8f8f8;
  background-image: url("../media/1.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  #about .wrapper {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    #about .wrapper .main-image {
      height: 50vh;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      z-index: 1; }
